<div class="dark:prose-dark prose lg:prose-xl">
    <article>
        <h2>About Me</h2>
        <div class="space-x-4">
            <%= outbound_link "Twitter", to: "https://twitter.com/allanmacgregor" %>
            <%= outbound_link "Github", to: "https://github.com/amacgregor" %>
        </div>
        <p>I’m a software engineer and entrepreneur based in <strong>Toronto, Canada</strong>. I have 15 years of professional experience building project and innovative solutions both in and outside of the e-commerce space.</p>

        <p>I currently work for a cool canadian company in the HR, Benefits and Payroll space called <%= outbound_link "Humi", to: "https://humi.ca" %>. Outside of my day job, I build my own <%= outbound_link "products and services", to: "https://allanmacgregor.com/projects" %>; currently working on <%= outbound_link "Siteguardian.dev", to: "https://siteguardian.dev" %></p>
    </article>
    <article>
        <h3>Keep in touch</h3>
        <p>Message me on <%= outbound_link "Twitter", to: "https://twitter.com/allanmacgregor" %> or you can email me at <code class="language-text text-purple-500 font-bold">info [at] allanmacgregor.com</code></p>
    </article>
</div>
