<div class="dark:prose-dark prose lg:prose-xl">
    <article>
        <h2>Publications</h2>
        <section>
            <h3>2021</h3>
            <ul>
                <li>Microservices vs APIs <a href="https://lightrun.com/best-practices/microservices-vs-apis/">lightrun.com</a></li>
            </ul>
        </section>
    </article>
</div>
